/** CSS Reset **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
/** Remove these because I'd like them to be automatically styled **/
/*ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/** END CSS Reset **/


/** Container Styles **/
body {
    font-family: Ubuntu, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    background-color: #FFFAC6;

    border: 1px solid black;
}

.info-group,
footer {
    clear: both;
    padding: 0 5%;
}

header {
    background-color: #CC8A2B;
    overflow: hidden;
}

.logo-container {
    float: left;
    background-color: #FFF;
}
.tagline-container {
    float: right;
    width: 130px;
    background-color: #CC8A2B;
    text-align: right;
    margin-top: 34px;
}
/** END Container Styles **/


/** Generic Element Styles **/
img {
    margin: 0.5rem 0.5rem 0 0.5rem;
    width: 215px;

}

h1 {
    display: inline-block;
    text-align: justify;
    vertical-align: middle;
    font-size: 0.9rem;
    margin-right: 5px;
    line-height: 1.2rem;
}

p {
    margin-bottom: 5%;
}

a {
    color: #000;
    text-decoration: none;
}
a:hover,
a:active
{
    color: #78766F;
    text-decoration: underline;
}
a:visited {
    color: #78766F;
}

q {
    font-size: 0.95em;
}
cite,
.image-popup {
    display: block;
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 0;
}
cite:before  {
    content: '- ';
}

footer {
    font-size: 0.8em;
    margin-top: 10px;
    margin-bottom: 0;
    overflow: hidden;
    padding-top: 20px;
}

footer p {
    text-align: center;
}

address {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 0;
    text-align: right;
    width: 50%;
}

.copyright {
    text-align: left;
    display: inline-block;
    width: 49%;
    font-size: 0.8em;
    line-height: 0.9em;
}
/** END Generic Element Styles **/

.company-name {
    font-size: 0.9rem;
    font-weight: bold;
}

.divider {
    height: 10px;
    border: none;
    margin-top: 0;
    background-color: #8C1300;
}

footer,
.section-title {
    background-color: #8C1300;
    color: #FFF;
}
.section-title {
    padding: 2% 0 2% 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
}
.section-title,
footer p {
    font-family: Volkhov, serif;
    font-style: italic;
}

.link {
    width: 90%;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #B0AA92;
}
.link:last-child {
    margin-bottom: 0;
    border: 0;
}

.second-nav {
    margin-top: 0.2rem;
}

.main-link {
    background-color: #CC8A2B;
    padding: 2% 0 2% 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.2rem;
    color: #000;
}
.main-link a {
    color: #000;
}
.main-link a:hover,
.main-link a:active{
    color: #CFCDBC;
    text-decoration: none;
}



.address-link {
    font-size: 0.9em;
    line-height: 1rem;
}
.address-link a {
    color: #FFF;
    font-size: 0.9em;
}
.address-link a:hover,
.address-link a:active {
    color: #DBDBDB;
    text-decoration: underline;
}

.noteworthy {
    font-weight: bold;
    font-size: 1.1em;
}

.credit {
    font-size: 0.9em;
}